{% extends 'board/base.html' %}

{% block title %}聯絡管理員{% endblock %}
{% block content %}
<div class="container">
    {% if message %}
    <div class="alert alert-warning">{{ message }}</div>
    <!-- <ul>
        <li>{{ form_data.user_name }}</li>
        <li>{{ form_data.user_city }}</li>
        <li>{{ form_data.user_school }}</li>
        <li>{{ form_data.user_email }}</li>
        <li>{{ form_data.user_message }}</li>
    </ul> -->
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>聯絡管理員</h3>
        </div>
        <form action="" method="POST">
            <div class="panel-body">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="panel-footer">
                <input type="submit" value="送出">
            </div>
        </form>
    </div>
</div>
{% endblock %}