<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" ailgn="center">
                留言板
            </div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/board">首頁</a></li>
            <li><a href="/board/listing">瀏覽文章</a></li>
            <li><a href="/board/posting">新增文章</a></li>
            <li><a href="/board/contact">聯絡管理員</a></li>
            <li><a href="/admin">後台</a></li>
        </ul>
    </div>
</nav>