{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>二手車</title>
</head>
<body>
    <h1>歡迎光臨</h1>
    <table>
        <tr>
            {% for m in car_maker %}
            <td bgcolor="#ccffcc">
                <a href="{% url 'carlist-url' forloop.counter0 %}">{{ m }}</a>
            </td>
            {% endfor %}
        </tr>
    </table>
    {% if cars %}
    <table>
        <tr><td>車廠</td><td>車款</td><td>價錢</td></tr>
        {% for c in cars %}
        <tr bgcolor="{% cycle '#eeeeee' '#cccccc' %}">
            <td>{{ maker_name }}</td>
            <td>{{ c.model }}</td>
            <td>NT$ {{ c.price | floatformat:2 | intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>車廠<em>{{ maker_name }}</em>無庫存車</h2>
    {% endif %}
</body>
</html>