<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ p.name }}</title>
</head>
<body>
    <h2>{{ p.name }}</h2>
    <hr>
    <table width=400 border=1 bgcolor='#ccffcc'>
        <tr><td>item number</td><td>{{ p.sku }}</td></tr>
        <tr><td>brand name</td><td>{{ p.name }}</td></tr>
        <tr><td>price</td><td>{{ p.price }}</td></tr>
    </table>
    <a href="/list">back to list</a>
</body>
</html>    